#box {
    background-color: rgb(190, 224, 237);
    height: 300px;
    width: 700px;
    visibility: hidden;
}

body {
    background-color: rgb(107, 151, 239);
}

#box.show {
    visibility: visible;
}